
@{
    ViewData["Title"] = "PartOneIntro";
}

<div style="border: 1px black solid;text-align: center;padding: 5%;">
    <h2>Part 1</h2>
    <div>
        <div style="font-weight: bold;">Instructions</div>
        Two letters will appear on a screen. Your task is to pick one of the letters. There is no "right" answer for any quesiton.
    </div>
    <br />
    <a href="@Url.Action("Question", "Question")">Start Part 1</a>
</div>