@model QuestionViewModel
@{
    ViewData["Title"] = "Question";
}

<link href="~/css/question.min.css" rel="stylesheet" />

<div style="width: 100%; border-bottom: 1px grey solid">
    <h2>@Model.Question</h2>
</div>
<form asp-controller="Question" asp-action="Submit" method="post">
    <div id="optionsBox">
        @{
            foreach (var option in Model.Options)
            {
                <label class="inputContainer">
                    @option
                    <input type="radio" name="radio" value="@option" required>
                    <span class="checkmark"></span>
                </label>
            }
        }

    </div>

    <input type="hidden" name="userId" id="userId" value="@Model.userId" />
    <input type="submit" class="btn btn-primary" value="Next >" />
</form>