@model QuestionViewModelOut
@{
    ViewData["Title"] = "Question";
}

<div style="width: 100%; border-bottom: 1px grey solid">
    <h2>@Model.Question</h2>
</div>

<div style="display: flex; padding-top: 20%">
    <div style="background-color: gainsboro; height: 200px; width: 40%; margin-right: 10%">
        <h1 style="text-align: center">C</h1>
    </div>
    <div style="background-color: gainsboro; height: 200px; width: 40%; margin-left: 10%">
        <h1 style="text-align: center">C</h1>
    </div>
</div>

